<!DOCTYPE html>
<html style="scroll-behavior: smooth;">
<head>
	<title>Xam Plan</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  	<link rel="icon" href="./static/img/xamplanicon.ico">
</head>
<style type="text/css">
	#heading{
		background-color: #EB4146;
	}
	#heading div img,
	#heading p {
		cursor: pointer;
	}
	#nav_button{
		background-color: #EB4146;
	}
	
</style>
<body>
	
	<div id="heading" class="container-fluid">
		
		<div  class="text-white text-center d-none d-md-block" ><img src="./static/img/xamplanwhite.png" style="height: 8vw;"> </div>
		<p class=" text-white text-center d-none d-md-block p-1" style="font-family: monospace; font-size: 2vw;" >Xam Plan</p>

		<div  class="text-white text-center d-md-none d-block" ><img src="./static/img/xamplanwhite.png" style="height: 18vw;"> </div>
		<p class=" text-white text-center d-md-none d-block p-1" style="font-family: monospace; font-size: 5vw;" >Xam Plan</p>

	</div>


	<div  class=" container  p-2" >
		
			
		<div class="container-fluid row text-center">
			<div class="col-2 w3-button w3-round-xxlarge  m-2 text-white" id="nav_button">
				<h2> HOME </h2>
			</div>

			<div class="col-3 w3-button w3-round-xxlarge m-2 text-white" id="nav_button">
				<h2> PREPARATION </h2>
			</div>

			<div class="col-2 w3-button w3-round-xxlarge  m-2 text-white" id="nav_button">
				<h2> ABOUT </h2>
			</div>
		</div>

		
		
			<h1>Home</h1>
		  	
			  	<a class="container btn mt-3 p-2" href="{{ url_for('login') }}"   style="background-color: #363B4D; color: white; border-radius: 100px;">
			  		<h1 class="container text-center d-none d-md-block col-10" >Make Your Gate Timetable</h1>
			  		<h1 class="container text-center d-block d-md-none col-10">Make Your Gate Timetable</h1>			  		
			  	</a>
				
				<div class="container p-4 text-center">
					<h3 class="w3-button w3-center w3-round-xxlarge text-white" style="background-color: #EB4146;">Login</h3>	
				</div>
			  	
 
			  	

	</div>

</body>
</html>