<!DOCTYPE html>
<html style="scroll-behavior: smooth;">
<head>
	<title>Config</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="./static/js/jquery-3.5.1.min.js"></script>
	<link rel="icon" href="./static/img/xamplanicon.ico">
</head>
<style type="text/css">
	#heading{
		background-color: #EB4146;
	}
	label{
		margin-left: 4px;
	}
	#topic_end{
		border-bottom: 1px solid lightgray;
	}

</style>
<body>

	<div id="heading" class="container-fluid">
		
		<div  class="text-white text-center d-none d-md-block" ><img src="./static/img/xamplanwhite.png" style="height: 8vw;"> </div>
		<p class=" text-white text-center d-none d-md-block p-1" style="font-family: monospace; font-size: 2vw;" >Xam Plan</p>

		<div  class="text-white text-center d-md-none d-block" ><img src="./static/img/xamplanwhite.png" style="height: 18vw;"> </div>
		<p class=" text-white text-center d-md-none d-block p-1" style="font-family: monospace; font-size: 5vw;" >Xam Plan</p>

	</div>
	
	

	<div class="bg-light container  p-2" >

		<a class="btn m-3 w3-right" style="color: white; background-color: #363B4D;"  href="{{ url_for('main') }}"> Home </a>
		<form action="{{ url_for('handle_config') }}" method="post">
		<span><h1 class="w3-margin display-4"> Configure Your Plan </h1><span>	
			<div class="container row">
				<input type="text" name="email" id='email' style="display: none;"><br>
				<h1 class="w3-margin"> Tell us your Name </h1>
				<input type="text" name="name" required="true" class="w3-padding w3-margin w3-input col-11 col-md-8 w3-border w3-round-xxlarge" placeholder="Your Name">
				<h1 class="w3-margin"> Where do you Study </h1>
				<input type="text" name="college" required="true" class="w3-padding w3-margin w3-input col-11 col-md-8 w3-border w3-round-xxlarge" placeholder="Your College Name">
				<input type="number" autocomplete="off" min='1' max='4' name="college_year" required="true" class="w3-padding w3-margin w3-input col-4 col-md-1 w3-border w3-round-xxlarge text-center" placeholder="Year">
			</div>



			<h1 class="w3-margin"> Customize your Planner in <span style="color: #Eb4146">3</span> Easy Steps</h1>
			
			<div id="id01" class="w3-modal">
			  <div class="w3-modal-content w3-animate-zoom w3-animate-opacity">
			    <div class="w3-container">
			      <span onclick="document.getElementById('id01').style.display='none'"
			      class="w3-button w3-display-topright w3-padding">close &times;</span>
			      <br>
			      <br>
			      <h3>What is a learning Curve</h3>
			      <p>It is defined as the rate of a person's progress in gaining experience or new skills. Basically, the amount of effort you put into learning.</p>
			      <p>Your study plan will be made according to the study plan you choose</p>
			      <p>You can choose from <span style="color: #Eb4146">3</span> diffrent learning curves </p>
			      <div class="row">
			      		<div class="col-12 col-md-6 ">
			      			<div class="container m-2">
			      				<img src="./static/img/decreasingcurve.png" class="col-12">
			      				<p class="text-center">Decreasing Effort</p>
			      			</div>
			      		</div>
			      		<div class="col-12 col-md-6 ">
			      			<div class="container m-2">
			      				<img src="./static/img/linearcurve.png" class="col-12">
			      				<p class="text-center">Linear Effort</p>
			      			</div>
			      		</div>
			      		<div class="col-12 col-md-6">
			      			<div class="container m-2">
			      				<img src="./static/img/increasingcurve.png" class="col-12">
			      				<p class="text-center">Increasing Effort</p>
			      			</div>
			      		</div>
						<div class="col-12 col-md-6">
			      			<div class="container m-2">
			      				<img src="./static/img/nonlinearcurve.png" class="col-12">
			      				<p class="text-center">Non Linear Effort</p>
			      			</div>
			      		</div>


			      </div>
			    </div>
			  </div>
			</div>
			<div class="w3-row-padding">

				<div class="w3-third w3-padding">
					<div class="w3-border w3-padding" style="height: 230px;">
						<h2 style="color: #Eb4146">Step 1</h2>
						<label for="exams">Choose Your Exam:</label>
						<select id="exams" name='exam' onchange="getDropDown()" class="w3-select col-12 w3-border">
							<option value="none"></option>
							<option value="GCS"> GATE-CS (Computer Science and IT)</option>
							<option value="GME"> GATE-ME (Mechanical Engineering)</option>
							<option value="GCE"> GATE-CE (Civil Engineering)</option>
							<option value="GEC"> GATE-EC (Electronics & Communication Engineering)</option>
							<option value="GEE"> GATE-EE (Electrical Engineering)</option>
							<option value="GPI"> GATE-PI (Production & Industrial Engineering)</option>
						</select>
					</div>
				</div>
				
				
				
				<div class="w3-third w3-padding">
					<div class="w3-border w3-padding" style="height: 230px;">
						<h2 style="color: #Eb4146">Step 2</h2>
						<label for="year">Choose Your Target Year</label>
						<select id="year" name='year' required="true" class="w3-select col-12 w3-border">
							<option value="none"></option>
							<option value="2021"> GATE 2021 </option>
							<option value="2022"> GATE 2022 </option>
							<option value="2023"> GATE 2023 </option>
						</select>

						
						<label for="revision">Number of Revisions</label>
						<select id="revision" name='revision' required="true" class="w3-select col-12 w3-border">
							<option value="0"></option>
							<option value="1"> Revisie 1x </option>
							<option value="2"> Revisie 2x </option>
							<option value="3"> Revisie 3x </option>
						</select>
					</div>
				</div>
				
				
				<div class="w3-third w3-padding">
					<div class="w3-border w3-padding" style="height: 230px;">
						<h2 style="color: #Eb4146">Step 3</h2>
						<label> Choose Your Learning Curve </label><br>
						<div class="row">
							<div class="col-6">
								<input class="w3-radio" type="radio" name="curve" value="linear" disabled>
								<label>Linear</label><br>

								<input class="w3-radio" type="radio" name="curve" value="increasing">
								<label>Increasing</label><br>

								<input class="w3-radio" type="radio" name="curve" value="decreasing">
								<label>Decreasing</label><br>

								<input class="w3-radio" type="radio" name="curve" value="nonlinear">
								<label>Non Linear</label><br>
							</div>
							<div class="col-6">
								<p style="color: #Eb4146; cursor: pointer;" class="w3-right" onclick="document.getElementById('id01').style.display='block'">Whats this?</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			

				<input type="submit" name="submit" value="Create My Plan!" style="background-color: #363B4D; color: white;" class="btn w3-xxlarge w3-right w3-margin w3-padding">

			<div class="w3-margin w3-padding">
				<p style="color: #Eb4146"><u>Advanced</u></p>
				<button type="button" onclick="showTopicList()" id='topic_button' disabled="true">Choose Topics you have completed or Don't want to study</button>
				<div id='topic_list'  style="display: none;" class="w3-border w3-margin w3-padding">

					hi
					
				</div>
				<a href="#heading" id='topic_list_btn'style="display: none;background-color: #363B4D; color: white;" class="w3-button w3-round">Go to top</a>
			</div>
		</form>
	</div>





</body>
<script type="text/javascript">

document.getElementById('email').value = JSON.parse('{{ res | safe}}').email
	
function getDropDown(){

	if(document.getElementById('exams').value != 'none'){
		console.log( document.getElementById('exams').value)
		document.getElementById('topic_button').innerHTML = 'Please Wait'
		$.ajax({
	            url: '/send_syllabus',
	            data: {'exam' :  document.getElementById('exams').value},
	            type: 'POST',
	            success: function(response) {
	                console.log(JSON.parse(response));
	                syllabus = (JSON.parse(response));
	                document.getElementById('topic_list').innerHTML = ''
	                document.getElementById('topic_button').disabled = false
	                document.getElementById('topic_button').innerHTML = "Choose Topics you have completed or Don't want to study"

	                var exam = document.getElementById('exams').value;
	                
	                for(key in syllabus[exam]){
	                	$('#topic_list').append('<br><h4>' + syllabus[exam][key][0][3] + '</h4><br>')
	                	for(x in syllabus[exam][key]){
	                		input = '<input type="checkbox" class"w3-check w3-padding" id="'+ syllabus[exam][key][x][0] + '" name="c_topic" value="'+ syllabus[exam][key][x][0] + '">'
							label = '<label class"w3-margin w3-padding"  for="'+ syllabus[exam][key][x][0] + '">'+ syllabus[exam][key][x][1] + '</label><br><div id="topic_end"></div>'
							$('#topic_list').append(input + label)
	                	}
	                	$('#topic_list').append('<br>')

	                }


	            },
	            error: function(error) {
	                console.log(error);
	            }
	        });
		}

}

function showTopicList(){
	if(document.getElementById('topic_list').style.display == 'none'){
		document.getElementById('topic_list').style.display = 'block'
		document.getElementById('topic_list_btn').style.display = 'block'
	}
	else{
		document.getElementById('topic_list').style.display = 'none'
		document.getElementById('topic_list_btn').style.display = 'none'
	}
}
</script>
</html>